<div class="modal-container">
	<div class="modal-container__body mat-app-background">
		<h1 class="modal-container__title">Регистрация нового пользователя</h1>
		<mat-form-field appearance="fill">
			<mat-label>User Name</mat-label>
			<input matInput
				   type="text"
				   placeholder="User Name"
				   [(ngModel)]="userName"
				   (change)="onNameChange()"
				   #name="ngModel"
				   required=""
				   pattern="[a-zA-Z]{4,}">
		</mat-form-field>
			<div [hidden]="name.valid || name.untouched"
				 class="alert alert-danger">
				Имя должно быть не менее 4 символов
			</div>
		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<!--[(ngModel)]="userName"  -  двухсторонняя привязка		-->
			<input matInput
				   type="text"
				   placeholder="Password"
				   [(ngModel)]="userPassword"
				   #password="ngModel"
				   required=""
				   pattern="[a-zA-Z0-9]{4,}">
		</mat-form-field>
		<div [hidden]="password.valid || password.untouched"
			 class="alert alert-danger">
			Пароль должен содержать только символы a-z ,A-Z, 0-9 и быть не менее 4 символов
		</div>
		<div class="dialog-button">
			<button mat-button
					mat-raised-button
					color="primary"
					class="dialog-button__butt"
					(click)="RegisterMolal()"
					[disabled]="name.invalid || password.invalid">
				Зарегистрировать
			</button>
			<button mat-button
					class="dialog-button__butt"
					(click)="CloseMolal()">
				Отмена
			</button>
		</div>
	</div>
</div>
